<?xml version="1.0" encoding="utf-8"?>
<configuration><system.webServer>
<defaultDocument><files><clear/><add value="index.html"/></files></defaultDocument>
<directoryBrowse enabled="false"/>
<httpErrors errorMode="Custom"><remove statusCode="404" subStatusCode="-1"/><error statusCode="404" path="404.html" responseMode="File"/></httpErrors>
<staticContent><remove fileExtension=".webp"/><mimeMap fileExtension=".webp" mimeType="image/webp"/><remove fileExtension=".woff2"/><mimeMap fileExtension=".woff2" mimeType="font/woff2"/></staticContent>
<httpProtocol><customHeaders><remove name="X-Powered-By"/><add name="X-Content-Type-Options" value="nosniff"/><add name="Referrer-Policy" value="strict-origin-when-cross-origin"/></customHeaders></httpProtocol>
</system.webServer></configuration>